[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
reportlab = "*"
pillow = "*"
lxml = "*"
xmltodict = "*"
jsonschema = "*"
datamodel-code-generator = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
